################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ClientTelegram/FileContentIndex/64701689-ab39-4bbc-a0d2-b2d638d89118.vsidx
/.vs/ClientTelegram/FileContentIndex
